# Директории и файлы Gradle
.gradle/
build/
gradle/
gradlew
gradlew.bat

# Исключаем каталоги сборки
/target/
*/out/

# Файлы конфигурации IDE
.idea/
*.iml

# Исключаем файлы сборки и временные файлы
*.class
*.log
*.war
*.ear

# Исключаем файлы ОС
.DS_Store
Thumbs.db

# Файлы среды
.env
*.swp

# Исключаем результаты тестов
/test-output/
